.mianFav{
  width: 55%;
  margin: 3px auto;
  border: 1px solid gray;
 
  text-align: left;
  float: center;
  position: relative;
  margin-left: 300px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 1px 3px #888888; ;

}

.colFav {
  float: left;
  width: 25%;
  color: grey;
  margin-left: 20px;

}



.row:after {
  content: "";
  display: table;
  clear: both;
}
